*{
    font-family: 'Times New Roman', Times, serif;
    /* font-family: 'Gabriola'; */
    /* box-sizing: border-box; */
    outline: none;
}

h1{
    text-align: center;
    font-size: 40px;
    /* border-bottom: 2px black solid; */
    font-family: 'Gabriola';
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    /* background-color: rgba(253, 252, 252, 0.2); */
}

/********mise en forme du header*********/

header{
    background-color: rgb(54, 56, 54);
    /* background-image: linear-gradient(rgb(3, 3, 77), gray); */
    width: 100%;
    margin: 0;
    /* padding: 1%; */
    height: 3.2cm;
    /* position: fixed; */
    /* position: relative; */
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    /* padding-right: 5px; */
    /* box-sizing: border-box; */
}

header > nav {
    width: 100%;
    margin: 0;
    margin: auto;
    /* box-sizing: border-box; */
    /* padding-right: 3%; */
    /*display: inline;*/
    /* border: solid white 1px; */
    /* display: flex; */
    text-align: center;
    /* height: auto; */
}

header > nav > ul{
    display: flex;
    justify-content: space-between;
    /* margin-left: -1.1cm; */
    padding-left: 10px;
    padding-right: 10px;
}

header > nav li {
        /* display: inline-block; */
        /* margin-left: 5%; */
        /* padding: 1%; */
        /* width: calc(20% - 30px); */
        /* height: 100%; */
        padding: 5px;
        transition: 1s ease;
        border-radius: 5px;
        border: solid white 1px;
        list-style-type: none;
        /* box-sizing: border-box; */
    }

header > nav a {
    color: white;
    text-decoration: none; 
    font-weight: bold;
    font-size: 0.5cm;
    /* width: 100%; */
    /* text-transform: uppercase; */
}

#titre{
    width: 100%;
    text-align: center;
    border-bottom: solid white 3px;
    padding-bottom: 10px;
    font-weight: bold;
    /* float: left; */
    /* border: solid white 1px; */
}

header > nav li:hover a{
    color: black;
}

header > nav li:hover{
    background-color: white;
    text-decoration: underline;
}

footer{
    height: 5cm;
    background-color: rgb(54, 56, 54);
    /* position: relative; */
}

/********Mise des tables***********/
table{
    width: 100%;
    margin-bottom: 10px;
}

th{
    background-color: rgb(54, 56, 54);
    color: white;
    padding: 10px;
    font-size: 20px;
}

td{
    padding: 5px;
}

.center{
    text-align: center;
}

tr:nth-child(2n){
    background: rgb(196, 195, 195);
}

tr:hover{
    background: rgb(235, 233, 233);
}

table a{
    color: white;
    text-decoration: none;
}

table .del{
    background: red;
    padding: 3px;
    border-radius: 5px;
}

table .statut{
    background: coral;
    padding: 3px;
    border-radius: 5px;
    display: inline-block;
}

table .mod{
    background: rgb(67, 194, 67);
    padding: 3px;
    border-radius: 5px;
}

table .del:hover{
    background: rgb(241, 97, 97);
}

table .mod:hover{
    background: rgb(100, 218, 100);
}

/*********Mise ne page du forum***********/
#forum{
    width: 50%;
    height: auto;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 20px;
    margin: auto;
    box-shadow: 5px 5px 30px gray;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

#reception{
    height: 13.5cm;
    border-bottom: 2px solid rgb(56, 65, 56);
    margin-bottom: 10px; 
    display: block;
    margin-top: 5px;
    /* border: 2px solid blue; */
    border-radius: 5px;
    /* width: fit-content; */
    /* height: 300px; */
    overflow: auto;
}

#message{
    width: 70%;
    border-radius: 20px;
    border: 1px solid rgb(56, 65, 56);
    float: left;
    font-size: 20px;
    height: 1cm;
    /* overflow-y: auto; */
}

#env{
    width: 28%;
    border: none;
    background-color: gray;
    color: white;
    border-radius: 10px;
    height: 1cm;
}

#env:hover{
    background-color: black;
}

.affiche{
    margin: 5px;
    padding: 2px;
    display: block;
    /* border: 2px solid rgb(159, 226, 159); */
    background-color: rgb(159, 226, 159);
    color: grey;
    border-radius: 0px 20px 20px 20px;
}

.affiche1{
    /* width: 100%; */
    margin: 5px;
    padding: 2px;
    display: block;
    /* border: 2px solid greenyellow; */
    background-color: whitesmoke;
    color: grey;
    border-radius: 20px 0px 20px 20px;
}

.affiche2{
    /* width: 100%; */
    margin: 5px;
    padding: 2px;
    display: block;
    /* border: 2px solid greenyellow; */
    background-color: rgb(54, 53, 53);
    color: white;
    border-radius: 20px 20px 20px 20px;
}

.lab{
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 1px solid grey;
    color: black;
}